* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    font-family: one;
    background: linear-gradient(to top, rgba(189, 185, 178, 0.66), #fff);
    color: #333;
    padding: 0 !important;
}
@font-face {
    font-family: one;
    src: url("../fonts/10359.ttf");
}
@font-face {
    font-family: two;
    src: url("../fonts/10360.ttf");
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 5vw;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
a {
    text-decoration: none;
}
.big-letters {
    text-transform: uppercase;
}
.wrapper {
    padding: 0 10% 0 10%;
}
.center {
    text-align: center;
}
.shadow {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
}

/*fix menu*/
#menu {
    text-transform: uppercase;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.74);
}
#menu ul {
    padding:0;
    margin:0;
}
#menu li {
    display: inline;
    list-style:none;
    margin: 5px 10px;
}
#menu li a {
    padding:5px 10px;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
#menu li a:hover {
    color: #f9ba48;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.5s;
}
#menu.default {
    width:100%;
    position: relative;
    z-index: 1000;
    height: 60px;
    margin-top: -60px;
}
#menu.fixed {
    z-index: 1000;
    position:fixed;
    top:0; left:0;
    width:100%;
    padding:10px 0;
}
.transbg {
    background-color: rgba(0, 0, 0, 0.58)!important;
}
#icon-logo {
    display: none;
}
.transbg #icon-logo {
    width: 60px;
    top: 4px;
    position: absolute;
    left: 195px;
    display: inherit;
}
/*fix menu*/

.block-panel-info {
    text-align: center;
    width: 100%;
    height: 90px;
    background: #231f20;
    /*background: linear-gradient(to top, rgba(189, 185, 178, 0.66), #fff);*/
}
    .block-panel-info .call-back, .block-panel-info .phone {
        padding-top: 20px;
    }
    .block-panel-info .logo {
        padding-top: 6px;
    }
    .block-panel-info .phone img {
        width: 35px;
        vertical-align: text-top;
    }
    .block-panel-info .phone .tel {
        text-align: left;
        color: #f9ba48;
        font: 15px "Open sans", sans-serif;
    }
    .block-panel-info .phone .tel p {
        margin-bottom: 9px;
        font-weight: 700;
    }
    .block-panel-info .phone .tel span {
        font-weight: 100;
        font-size: 12px;
    }
    .block-panel-info .phone .sign {
        text-align: right;
        padding-right: 0;
    }
    .call-back .applicationButton {
        width: 100px;
        font-size: 13px;
        padding: 5px 0;
        border: none;
        background-color: #fe7e18;
        color: #fff;
    }
    .call-back .applicationButton:hover {
        background-color: #fff;
        color: #fe7e18;
        font-weight: 700;
        border: 1px solid #fe7e18;
    }
    .call-back .applicationTelephone {
        width: 170px;
        margin-bottom: 3px;
        font-size: 13px;
        padding: 3px 10px;
    }
#category {
    /*padding: 8% 0;*/
    background: linear-gradient(to left, #231f20 60%, #f9ba48 40%);
    height: 420px;
}
    #category .item_cat {
        width: 100%;
        position: relative;
        height: 150px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 20px;
    }
    #category .item_cat a:hover, #category .item_cat a:focus {
        text-decoration: none;
    }
    #category .item_cat img {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    #category .item_cat .title_cat h2 {
        font-size: 20px;
        padding-top: 15%;
        border: 1px solid #fff;
        height: 111px;
        color: #fff;
        background-color: #231f20;
    }
     #category .item_cat .title_cat {
         background-color: rgb(249, 186, 72);
        width: 100%;
        height: 130px;
        text-align: center;
        padding: 10px 10px;
    }
    #category .item_cat .title_cat:hover {
        background-color: #2196F3;
        opacity: 0.5;
    }
    #category .short_block_cat .text {
        font-size: 14px;
        color: white;
        font-weight: 600;
    }
    #category .short_block_cat span {
        font-size: 16px;
        color: #333333;
    }
    #category .info-block {

    }
    #category .category-block {
        padding-top: 65px;
    }

#contact {
    background-color: #231f20;
    color: #fff;
    padding-top: 5%;
    padding-bottom: 4%;
}
    #contact .form-decoration input {
        padding: 10px;
        width: 80%;
        color: rgba(51, 51, 51, 0.91);
        border: none;
        margin-bottom: 1%;
    }
    #contact .form-decoration button {
        color: #fff;
        padding: 8px;
        background-color: #f9ba48;
        font-size: 18px;
        border: 2px solid #fff;
        letter-spacing: 0.5px;
    }
    #contact .form-decoration button:hover {
        color: #f9ba48;
        background-color: #fff;
        font-weight: 700;
    }
    .soc-contact img {
        width: 35px;
        margin: 10px 10px 0 0;
    }
    .soc-contact img:hover {
        opacity: 0.3;
    }
    #contact h2 {
        margin-bottom: 25px;
    }
/*------кнопка вверх на главную-------*/
#back-to-top {
    background-color: #f9ba48;
    border-radius: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#back-to-top:hover {
    background-color: #fff;
    color: #f9ba48;
}
/*------кнопка вверх на главную-------*/
#static{
    /*margin-bottom: 10%;*/
    width: 100%;
    height: 470px;
    padding: 4% 1%;
    background: url(../img/diagram.jpg) no-repeat fixed;
    background-size: cover;

}
    #static h2, #article h2 {
        font-weight: 700;
    }
    #static .progress {
        width: 80%;
        height: 35px;
        background: rgba(235, 233, 231, 0.74);
    }
    #static .progress_bar {
        padding-left: 100px;
    }
    #static .progress-bar {
        line-height: 30px;
        color: #fff;
    }
    #static .text_progress {
        background-color: rgba(255, 255, 255, 0.61);
        padding: 50px 15px 15px;
    }
    .progress-bar-warning {
        background-color: #feab1d;
    }
    .progress-bar-info {
        background-color: #080808;
    }
.pad-phone {
    padding-left: 67px;
}
/*.carousel-inner {*/
    /*box-shadow: 0 0 20px #333;*/
/*}*/
.carousel-caption {
    bottom: 130px;
    background-color: rgba(254, 126, 24, 0.62);
    width: 600px;
    height: auto;
}
#logo {
    /*background-color: rgb(254, 126, 24);*/
    width: 285px;
    height: auto;
    padding: 3px 0;
}
    #logo .icon{
        display: inline-block;
        width: 60px;
        float: left;
    }
    #logo #logo-title {
        display: inline-block;
        margin-top: 9px;
        float: right;
        color: #f9ba48;
    }
#article h2 {
    padding-left: 10%;
}
    .line {
        width: 100%;
        height: 40px;
        padding-top: 0.5%;
        background-color: #f9ba48;
    }
#privileges {
    text-align: center;
    padding-top: 5%;
    background-color: #231f20;
}
    #privileges .privilege > div {
        margin-bottom: 60px;
    }
    #privileges img {
        width: 100px;
    }
    #privileges .tit-priv {
        color: #fe7e18;
        font-weight: 600;
        font-size: 20px;
    }
    #privileges .text-priv {
        color: rgba(255, 255, 255, 0.8);
        line-height: 10px;
    }
/*------кнопка узнать больше-------*/
.ta{
    padding: 5% 0 0;
    min-height: 410px;
    /*transition:all 1s;*/
    /*-moz-transition:all 1s;*/
    /*-webkit-transition:all 1s;*/
    /*-o-transition:all 1s;*/
}
/*.read-next, .read-next:focus  {*/
    /*color: #ec4b3b;*/
    /*background-color: #fff;*/
    /*border-radius: 0;*/
    /*padding: 7px 5px;*/
    /*font-size: 17px;*/
    /*border: 2px solid #fff;*/
/*}*/
/*.read-next:hover {*/
    /*color: #fff;*/
    /*background-color: #ec4b3b;*/
/*}*/
/*------кнопка узнать больше-------*/
#about {
    padding: 6% 15%;
    text-align: justify;
    text-indent: 1.5em;
}
    #about h2 {
        padding-bottom: 1%;
        text-align: center;
    }
    #about .right {
        text-align: right;
    }
    #about .right img {
        width: 3%;
        margin-right: 1%;
    }
#article .item_art {
    width: 200px;
    position: relative;
    height: 200px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;
}
    #article .item_art img {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    #article .block-info {
        width: 200px;
    }
    #article .block-info .title-art {
        color: #333;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 14px;
    }
    #article .block-info .text-art {
        color: #000;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.2px;
        margin-bottom: 15px;
    }
    #article .block-info .link-art a {
        text-decoration: none;
        color: #fff;
         font-size: 14px;
        background-color: #f9ba48;
        border: 1px solid #fff;
        padding: 5px;
        }
    #article .block-info a:hover {
        color: #f9ba48;
        background-color: #fff;
        border: 1px solid #f9ba48;
    }
.block-cat-text {
    color: #fff;
    font-size: 20px;
    padding: 20% 10% 0;
    text-align: justify;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.61);
}
#services {
    min-height: 800px;
}
.nav > li > a {
    padding: 17px 7px;
    color: #FF9800;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #231f20;
}
#myTab1 > li, #myTab2 > li, #myTab3 > li, #myTab6 > li {
    padding: 10px 10px 0 37px;
}
#myTab1, #myTab2, #myTab3, #myTab6 {
    border-right: 1px solid #ddd;
}
#myTab1 > li > a, #myTab2 > li > a, #myTab3 > li > a, #myTab6 > li > a {
    text-decoration: none;
}
#myTab1 > li > a:hover, #myTab2 > li > a:hover, #myTab3 > li > a:hover, #myTab6 > li > a:hover, #myTab1 > li > a:focus, #myTab2 > li > a:focus, #myTab3 > li > a:focus, #myTab6 > li > a:focus {
    color: #FF9800;
}
.photo-serv {
    width: 60%;
    margin: 0 25px 15px 0px;
    float: left;
}
.text-serv {
    margin-top: 20px;
}
.arrow-right {
    width: 4%;
    margin-right: 10px;
}
#price .table-responsive {
    padding: 5% 25% 2%;
}
#price .table th, #price .table td:nth-child(2), #price .table td:nth-child(3) {
    text-align: center;
}
#price .table td, #price .table th {
    border: 1px solid #eeedeb;
}
#price .table-responsive tr:nth-child(odd) {
    background-color: rgb(249, 186, 72);
}
#price .table-responsive tr:nth-child(even) {
    background-color: rgba(249, 186, 72, 0.36);
}
.article-page {
    min-height: 1100px;
}
.article-page .art {
    margin-bottom: 10px;
}
.dload-price {
    text-align: center;
    margin-bottom: 4%;
}
.dload-price > .dload > a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background: #f9ba48;
    border: 1px solid;
    font-size: 16px;
}
.dload-price > .dload > a:hover, .dload-price > .dload > a:focus {
    color: #f9ba48;
    background: #fff;
    border: 1px solid;
}
@media screen and (min-width: 768px) {

}